<div class="text_container">
    <div id="title">YOU LOSE!</div>
    <p id="host">
      Ouch! Too bad. Here is your BAD THING!

    <div class="thing_container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KxcfUFBSckc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <%= link_to "You Don't Like It?... ok Give It Another Try","guess" %>
  </div>
