<div class="text_container">
    <div id="title">AH HAHA YOU THOUGHT!</div>
    <p id="host">
      MAN YOUR SOO UNLUCKY HAHAHAHAH
    </P>
    <div class="thing_container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/h41ZagOCx0s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <%= link_to "You Don't Like It?... ok Give It Another Try","guess" %>
  </div>
