
  <div id="button_container">
    <a id="button" href="javascript:void(0);">LET'S DO A ROLL</a>
  </div>

  <footer>
    <a href="/" id="box_1">
      Home
    </a>
    <a href="http://blog.jenniferdewalt.com" id="box_2">
      Blog
    </a>
  </footer>
