<!-- This header was added after the project on 12/30/2014 -->
<header>
  <nav>
    <a href="/>">Home</a>
    <a href="mailto:legand.haskins@hgs.hiddengeniusproject.org">Contact Me</a>
    <a href="https://github.com/jendewalt">GitHub</a>
  </nav>
</header>
  <!-- End header -->

  <div id="top_container">


    <h1>Hi!</h1>

    <div id="info_container">
      <div>Heloo I am Legand Haskins and I am making my</div>
      <div class="orange">Office Hour Project</div>
      <div>You can follow the project here and on the <span><a href="http://blog.jenniferdewalt.com">blog</a></span>.</div>
    </div>

  </div>

  <div id="marquee_container">
    <div>Today's Website</div>
    <%= link_to "day 5","day 5" %>
  </div>

  <div id="website_list_container">

    <div>Day 5 <span><a href=""></a></span></div>
    <div>Day 4 <span><a href="its_canvas_time">Its Canvas Time</a></span></div>
    <div>Day 3 <span><a href="random_color_roll">Random Color Roll</a></span></div>
    <div>Day 2 <span><a href="guess">Pick Your Fight!</a></span></div>
    <div>Day 1 <span><a href="#">Homepage</a></span></div>
  </div>
